<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eplayers_MVC</title>
    <link rel="stylesheet" href="~/css/eplayers.css"/>
</head>

<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Eplayers_MVC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        </header> *@
    <header>
        <div class="container container_header">
            <img src="/midia/logo (5).svg" alt="logo_eplayers">
            <nav class="sessões_nav_header">
                <a asp-area="" asp-controller="Home" asp-action="Index">início</a>
                <a href="#participar" target="_parent">horários</a>
                <a href="">resultados</a>
                <a href="#jogos" target="_parent">campeonato</a>
                <a href="#noticiass" target="_parent">notícias</a>
                @if (ViewBag.UserName != null)
                {
                    <li style="color: #FFFFFF">Olá @ViewBag.UserName</li>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                } else {
                <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                }
            </nav>
        </div>
    </header>
    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2021 - Eplayers_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer> *@
    <footer>
        <div class=" container conteudo_footer">
            <div class="links_e_páginas">
                <div class="links_uteis">
                    <h2>Links úteis</h2>
                    <ul>
                        <li>Regras de utilização</li>
                        <li>Suporte</li>
                        <li>Central de ajuda</li>
                        <li>Contato</li>
                    </ul>
                </div>
                <div class="paginas">
                    <h2>Páginas</h2>
                    <ul>
                        <li>Inicio</li>
                        <li>Campeonatos</li>
                        <li>Resultados</li>
                        <li>Notícias</li>
                        <li>Login/Cadastro</li>
                    </ul>
                </div>
            </div>
            <img class="logo_do_footer" src="/midia/logo (5).svg" alt="">
            <div class="cadastro_e_redes_sociais">
                <span class="chamada_do_publico">Faça parte do nosso clan, assine nossa newsletter!</span>
                <div class="email_e_cadastro">
                    <input type="text" id="txtBusca" placeholder="E-Mail" />
                    <a href="#">
                        <button>Cadastrar</button>
                    </a>
                </div>
                <div class="redes_sociais">
                    <span>Siga-nos em:</span>
                    <a href="#">
                        <img src="/midia/instagram 1.png" alt="logo instagram">
                    </a>
                    <a href="#">
                        <img src="/midia/facebook 1.png" alt="facebook logo">
                    </a>
                    <a href="#">
                        <img src="/midia/youtube 1.png" alt="logo youtube">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
